.coverCarrusel {
	width: 100%;
}

.carousel-inner {
	z-index: -1000;
}


/* Sección Nosotros */

#containerNosotros {
	border-style: ridge;
	border-width:5px;
	border-color:$color-principal;
	@include espacioEntreSecciones;
}

#divTextoNosotros {
	padding-top: 40px;
}

#tituloNosotros {
	padding-top: 20px;
}

#quienesSomos {
	padding-left: 5%;
}

#textoNosotros {
	text-align: justify;
	line-height: 150%;
	padding-top: 20px;
	padding-left: 5%;
}

#imagenNosotros {
	width: fit-content;
	margin: 15px 15px 15px 0px;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}

/* Sección Colecciones */

#containerColecciones {
	background-color: $color-rosaSuave;
	padding: 10px;
	height: fit-content;
	@include espacioEntreSecciones;
}

#tituloColecciones {
	padding-top: 20px;
	padding-bottom: 10px;
}

$listaDeColecciones : Coleccion1, Coleccion2, Coleccion3, Coleccion4;

@each $Colecciones in $listaDeColecciones {
	#divColumna#{$Colecciones} {
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-content: space-around;
		justify-content: space-around;	
	}
}

$listaDeImagenesDeColeccion : ImgColeccion1, ImgColeccion2, ImgColeccion3, ImgColeccion4;

@each $ImagenesCol in $listaDeImagenesDeColeccion {
	#{$ImagenesCol} {
		width: fit-content;
		margin: 10px;
	}
}

.botonColeccion{
	text-decoration: none;
	text-align: center;
	color: $color-blanco;
	font-size: 1rem;
	font-weight: bold;
	background-color: $color-principal;
	padding: 15px;
	margin: 40px;
	border-radius: 5px;
}

.botonColeccion:hover {
	transform: scale(1.2,1.2);
	background-image: radial-gradient($color-rosaSuave,$color-principal);
	color: $color-botonSeleccionado;
}


/* Sección Tiendas */

#containerTiendas {
	@include espacioEntreSecciones;
}

#tituloTiendas {
	padding-top: 20px;
	padding-bottom: 10px;
}


.seccionTiendasGrid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"mapa mapa tiendaUno tiendaDos"
		"mapa mapa tiendaTres tiendaCuatro";
	align-items: center;
	justify-content: space-around;
	justify-items: center;
	height: 80vh;
}

.divTienda {
	border-color: $color-principal;
	border-width: 4px;
	border-style: outset;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
}


.titTienda {
	font-weight: bold;
}

.direccionTienda {
	padding: 15px;
}

#mapaTiendas {
	grid-area: mapa;
	width: 60%;
}

#divTienda1 {
	grid-area: tiendaUno;
}

#divTienda2 {
	grid-area: tiendaDos;
}

#divTienda3 {
	grid-area: tiendaTres;
}

#divTienda4 {
	grid-area: tiendaCuatro;
}


/* Sección Tendencias */

.SeccionTipo2{
	padding: 20px 15px 20px 15px;
	background-color: $color-secundario;
}

.Tendencias { 		
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}


/*-------------------------- Página PRODUCTOS -------------------------- */


/*----------- Tabla Listado de Productos -----------*/

.seccionCatalogo {
	background-color: radial-gradient($color-secundario);
	@include espacioEntreSecciones;
}

.tituloProductos {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include animFadeInUp;
}

/*-------------------------- Página COLECCIONES -------------------------- */

.paginaColecciones {
	div {		
		h2 {
			text-align: center;
		}
		div {
			div {
				display: flex;
				flex-direction: column;
				justify-items: center;
				align-items: center;
				justify-content: center;
				align-content: center;					
			}
		}
	}
}
.barrita {
	background-image: radial-gradient($color-clarito,$color-moradito);
	position: -webkit-sticky;
  	position: sticky;
  	top: 100px;
	z-index: 99999;
}

.columnaColeccion {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		justify-content: center;
		align-content: center;
		margin-top: 30px;
		margin-bottom: 30px;
		@include animZoomIn;		
}

.divColumna {	

	div {	
			display: block;
	}
	
	a {
		color: aqua;
	}

}

#botonDesplegable {
	border-radius: 20px;
	@include bordesRosados;
	color: $color-blanco;
	font-size: 1.1rem;
	text-decoration: none;
	padding: 10px;
	background-color: $color-principal;
	position: relative;
	justify-content: space-around;
}

/*-------------------------- Página PREGUNTAS -------------------------- */

.contenedorFondo{	
	background-image: url("../Assets/FondoPreguntas.png");	
	background-size: cocontain;
	background-blend-mode: soft-light;

}

.contenedorSeccionP {
	background-image: radial-gradient($color-clarito,$color-rosaMedio);
	position: -webkit-sticky;
  	position: sticky;
  	top: 100px;
}

.contenedorPregunta {
	padding: 15px;
	@include espacioEntreSecciones;
	white-space: nowrap;

	.listaNumerada{

		li {
			padding-left: 30px;
			list-style: decimal;
			list-style-position: inside;
			line-height: 1.5;
			color: $color-texto;
			font-weight:normal;
		}
				
	}

	h3 {
		font-weight: bolder;
	}

	p {
		font-weight: bolder;	
	}

	.listaSinNumerar {
		li {
			padding-left: 30px;
			list-style: lower-latin;
			list-style-position: inside;
			line-height: 1.5;
			color: $color-texto;
			font-weight:normal;
		}
	
		.listaSinNumerar2 {
			li {
				padding-left: 50px;
				list-style: disc;
				list-style-position: inside;
				line-height: 1.5;
				color: $color-texto;
				font-weight:normal;
		
			}
		}
	
	}


}








/*-------------------------- Página LOG IN -------------------------- */

.bodyLogIn{
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.bodyLogIn header{
	height: 25vh;
}

.bodyLogIn main{
	height: 60vh;
}

#LogoLogIn{
	max-width: 10%;
	margin: 10px;
}

.CuadroLogIn{
	display: flex;
	flex-direction: column;
	flex:1;
	align-items: center;
	justify-content: space-between;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: $color-texto;
	padding: 15px;
}

.CuadroLogIn input{
	margin: 10px;
	height: 30px;
	width: 300px;
	color: $color-texto;
	padding: 5px;
}

#IniciarSesion{
	font-size: 1.3rem;
	color: $color-texto;
	font-weight: bold;
	margin: 10px;
}

#BotonIniciarSesion{
	border: solid 1px $color-principal;
	border-radius: 20px;
	color: $color-blanco;
	font-size: 1.1rem;
	padding: 5px;
	background-color: $color-principal;
}

.bodyLogIn footer{
	height: 15vh;
}

.BackHome{
	border: solid 1px $color-principal;
	border-radius: 20px;
	color: $color-blanco;
	font-size: 1.1rem;
	text-decoration: none;
	padding: 10px;
	background-color: $color-principal;
	position: relative;
	justify-content: space-around;
}


/*------------------------------------ Responsive 576px - 900 px (tablets) -----------------------------------*/

@media (max-width: 900px) and (min-width: 576) {

	
	/* Sección Colecciones */

	#containerTiendas {
		@include espacioEntreSecciones;
	}

	#tituloTiendas {
		padding-top: 20px;
		padding-bottom: 10px;
	}


	.seccionTiendasGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-areas:
			"mapa mapa"
			"mapa mapa"
			"tiendaUno tiendaDos" 
			"tiendaTres tiendaCuatro";
		align-items: center;
		justify-content: space-around;
		justify-items: center;
		height: 80vh;
	}

	.divTienda {
		border-color: $color-principal;
		border-width: 4px;
		border-style: outset;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 90%;
	}


	.titTienda {
		font-weight: bold;
	}

	.direccionTienda {
		padding: 15px;
	}

	#mapaTiendas {
		grid-area: mapa;
		width: 80%;
	}

	#divTienda1 {
		grid-area: tiendaUno;
	}

	#divTienda2 {
		grid-area: tiendaDos;
	}

	#divTienda3 {
		grid-area: tiendaTres;
	}

	#divTienda4 {
		grid-area: tiendaCuatro;
	}

	.botonColeccion{
		font-size: 0.8rem;
		font-weight: bold;
		padding: 5px;
		margin: 10px;
		border-radius: 5px;
	}
}


/*------------------------------------ Responsive 576px (celulares) -----------------------------------*/

@media (max-width: 576px) {
	
	
	/* Sección Colecciones */
	
	#containerTiendas {
		@include espacioEntreSecciones;
	}

	#tituloTiendas {
		padding-top: 20px;
		padding-bottom: 10px;
	}


	.seccionTiendasGrid {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-areas:
			"mapa mapa"
			"mapa mapa"
			"tiendaUno tiendaDos" 
			"tiendaTres tiendaCuatro";
		align-items: center;
		justify-content: space-around;
		justify-items: center;
		height: 80vh;
	}

	.divTienda {
		border-color: $color-principal;
		border-width: 4px;
		border-style: outset;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 90%;
	}


	.titTienda {
		font-weight: bold;
	}

	.direccionTienda {
		padding: 15px;
	}

	#mapaTiendas {
		grid-area: mapa;
		width: 60%;
	}

	#divTienda1 {
		grid-area: tiendaUno;
	}

	#divTienda2 {
		grid-area: tiendaDos;
	}

	#divTienda3 {
		grid-area: tiendaTres;
	}

	#divTienda4 {
		grid-area: tiendaCuatro;
	}

	.SeccionTipo2{
		padding: 20px 15px 20px 15px;
		background-color: $color-secundario;
	}
	
	.Tendencias { 		
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: space-between ;
		padding-top: 30px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 30px;

		.videito {
			column-gap: 5px;	
		}
	}
	
	.botonColeccion{
		font-size: 0.8rem;
		font-weight: bold;
		padding: 5px;
		margin: 10px;
		border-radius: 5px;
	}

}
