header {
	position: -webkit-sticky;
	position: sticky;
	top: -100px;
	width: 100%;
}


.contenedorHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	height: 100px;
}

#Logo {
	height: 100px;	
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	top: 0;
}

h1 {
	font: $Titulo-pagina;
    color: $color-tituloPagina;
	letter-spacing: 5px;;
	text-align: center;
	position: absolute;	
}

/*------------------------------------ Responsive 576px - 900 px (tablets) -----------------------------------*/

@media (max-width: 900px) and (min-width: 576) {

	h1 {
		font-size: 2.5rem;
	}

}

/*------------------------------------ Responsive 576px (celulares) -----------------------------------*/

@media (max-width: 576px) {

	h1 {
		font-size: 2rem;
		transform: translatex(10%);
	}



}
