$color-fondo: #FAF9F6;
$color-rosaFuerte: #FDB8B6;
$color-rosaSuave: #faeff0;
$color-rosaExtra: #F7D9DC;
$color-marron: #74605B;
$color-marroncito: #9B8884;
$color-blanco: white;
$color-moradito: #A9B0CB;
$color-clarito: #FFF9F5;


$color-principal: $color-rosaFuerte;
$color-secundario: $color-rosaSuave;
$color-parrafos: $color-marroncito;
$color-texto: $color-marroncito;
$color-menu: $color-marron;
$color-botonSeleccionado: $color-marron;
$color-cabeceras: $color-moradito;


$Titulo-pagina: bolder 3em "Playfair Display", serif ;
$color-titulo-pagina: $color-marron;

$fuente-titulo: bolder 2em "Playfair Display", serif;
$color-titulo: $color-marron;

$fuente-subtitulos: bolder 20px "Lora", serif;
$color-subtitulos: $color-marron;

$fuente-textos: 1em "Lora", serif;

$titulo-footer: bolder 1em "Playfair Display", serif;
$texto-footer: bold 0.8em "Lora", serif;
$color-footer: $color-marron;


