/*------------ Paleta de Colores ------------*/

$color-humo: #FAF9F6;
$color-rosaSuave: #faeff0;
$color-rosaMedio: #F7D9DC;
$color-rosaFuerte: #FDB8B6;
$color-marron: #74605b;
$color-marroncito: #9B8884;
$color-blanco: white;
$color-moradito: #A9B0CB;
$color-clarito: #FFF9F5;


/*------------ Asignación de Colores ------------*/

$color-fondo: $color-humo;
$color-principal: $color-rosaFuerte;
$color-secundario: $color-rosaSuave;

$color-tituloPagina: $color-marron;
$color-titulos: $color-marron;
$color-subtitulos: $color-marron;
$color-parrafos: $color-marroncito;
$color-texto: $color-marroncito;
$color-menu: $color-marron;
$color-cabeceras: $color-moradito;
$color-footer: $color-marron;

$color-botonSeleccionado: $color-marron;


/*------------ Fuentes de texto ------------*/

$Titulo-pagina: bolder 3em "Playfair Display", serif;
$fuente-titulo: bolder 2em "Playfair Display", serif;
$fuente-subtitulos: bolder 1.25em "Lora", serif;
$fuente-menu: bolder 1.1em "Lora", serif;
$fuente-textos: 1em "Lora", serif;
$titulo-footer: bolder 1em "Playfair Display", serif;
$texto-footer: bold 0.8em "Lora", serif;


/*------------ Mixins ------------*/

@mixin espacioEntreSecciones {
    margin-top: 20px;
	margin-bottom: 20px;
}

@mixin bordesRosados {
    border: solid 1px $color-principal;
}

@mixin animFadeInUp {
    animation: fadeInUp;
	animation-duration: 3s;
}

@mixin animZoomIn {
    animation: zoomIn; 
    animation-duration: 3s;
}